*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.mainiv{
    width: 100%;
    height: 100vh;
}
.head{
    height: 60px;
    background-color: #ec88ec;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
body{
    margin: 0px;
}
.left{
    font-family: ui-monospace;
    font-size:  34px;
    color: rgba(158, 32, 105, 0.863);
    font-weight: bold;
}
.right{
    font-family: serif; font-size: 22px; 
    


}
a{
    color: rgba(15, 14, 14, 0.349);
    text-decoration: none;
}
.color:hover{
    color: rgba(87, 20, 81, 0.87);
}
.img{
    height: 100vh;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEX4yNyQ69wLAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=);
    padding: 20px;
    display: flex;
    align-items: center;
}
.lft{
    width: 50%;
    
}
.rght{
    width: 50%;
   
}
.me{
    width: 80%;
    height: 50%;
    margin-top: 25px;
    border-bottom-right-radius: 281px;
    border-top-left-radius: 269px;
    margin-left: 61px
}
h1{
    color: purple;
    font-size: 53px;
    font-family: monospace;
}
.text{
    font-family: monospace;
    color: #800080a8;
    font-size: 18px;
}
.service{
    width: 100%;
    height: 67px;
    text-align: center;
    background-color: #95559552;
}
.grid-container{
    display: grid;
    gap: 50px 14px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px
}
.grid-item{
    background-color: #933d7d21;
    border: none;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    height: auto;
}
.cmp{
    width: 97%;
    height: 267px;
}
.box1{
    height: 300px;

}

.font{
    font-size: 29px;
    margin-top: 20px;
    color: purple;
    font-family: monospace;
}
.paragraph{
    font-size: 1.2rem;
    color: #80008080;
}
.scnd{
    height: 267px;
    width: 97%;
}


.profileDiv{
    width: 100%;
    height: 100vh;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEX4yNyQ69wLAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII=);
    display: flex;


}
.profileImage{
    
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* align-self: center; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profileContent{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profileimagePhoto{
    width: 60%;
    height:67%;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;

}
h3{
    color: purple;
    font-size: 53px;
    font-family: monospace;
}
p{
    color: purple;
    font-size: 26px;
    font-family: monospace;
}
.projectdiv{
    width: 100%;
    background-color: rgb(211, 125, 211);
    
}    
.projectcontent{
    
    
    display: inline-flex;
    justify-content: space-evenly;
}
.projectimage{
    border-radius: 61px;
}

.projecthead{
text-align: center;
margin: 30px;
font-size: 53px;
}
.div1{
    background-color: rgb(255 198 255 / 81%);
    border-radius: 72px ;
    width: 20%;
    height: 477px;
    
}
img{
    width: 100%;
}
h2{
    color: rgb(157 22 157);
    text-align: center;
    font-size: 27px;
}

.projectparagraph{
    color: rgb(205 45 205);
    text-align: center;
    font-size: 21px;
}
.contactdiv{
    width: 100%;
    background-color:rgb(146, 10, 146) ;
}
.contacttext{
    text-align: center;
    font-size: 53px;
    color: rgb(63, 23, 63);

}
.label{
    font-size: 23px;
    width: 100%;
}
.forminput{
    width: 100%;
    display: block;
    height: 41px;
    border-radius: 5px;
    margin-top: 24px;

}
.formdiv{
    margin-top: 54px;
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 15px;
}

.labeldiv1{
    display: flex;
    width: 100%;
}
.labeltext{
    color: white;
}
textarea{
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}
.labelmessage{
    width: 100%;
}
.labelmsg{
    color: white;
    font-size:23px ;
}
button{
    width: 379px;
    margin-top: 10px;
    height: 50px;
    cursor: pointer;
}
.submit:hover{
    background-color: pink;
}
.serviceMain{
    display: flex;
    background-color: #d37dd32b;
    padding: 20px;

}
@media(max-width:600px){
    .profileDiv{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .profileImage,.profileContent{
        justify-content: center;
    }
    .labeldiv1 {
        display: flex;
        flex-direction: column;
    }
    .projectcontent{
    
    
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }
    button{
        width: 200px;
    }
}
@media(max-width:1000px){
    .grid-container {
        display: flex;
        flex-direction: column;
        gap: 17px 14px;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px;
    }
    .left{
        font-family: ui-monospace;
        font-size:  18px;
        color: rgba(158, 32, 105, 0.863);
        font-weight: bold;
    }
    .right{
        font-family: serif; 
        font-size: 14px; 
    }
    h3{
        color: purple;
        font-size: 40px;
        font-family: monospace;
        text-align: center;
    }
    .profileimagePhoto{
        margin-top: 150px;
    }
    p{
        color: purple;
        font-size: 20px;
        font-family: monospace;
        text-align: center;
    }
    .div1{
        background-color: rgb(255 198 255 / 81%);
        border-radius: 72px;
        width: 40%;
        padding: 10px;
        height: 300px;
        margin: 10px;
        
    }
    h2 {
        color: rgb(157 22 157);
        text-align: center;
        font-size: 15px;
    }
    .projectparagraph {
        color: rgb(205 45 205);
        text-align: center;
        font-size: 13px;
    }

}